body {
    font-size: 16px;
}

.form-control, label {
    font-size: 12px;
}

#details {
    overflow-y: auto;
}

.delete {
    font-size: 2rem;
    color: red;
}

.input-row {
    border-radius: 15px;
}

.person {
    background-color: lightsteelblue;
}

.destination {
    background-color: antiquewhite;
}

.constraint {
    background-color: lightcoral;
}

.hasCar:hover {
    cursor: pointer;
}

/* TODO style autocomplete suggestion box */