{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="details" class="col-lg-7 bg-light vh-100">
                <div class="container">
                    <h1 class="display-3">Road Trip Pickup Planner</h1>
                    <form action="{{ url_for('results') }}" method="post">
                        <!-- Hidden element to prevent autocomplete -->
                        <!-- <input class=" " autocomplete="false" name="hidden" type="text" > -->
                        <div id="destination" class="details-section">
                            <h3>Destination</h3>
                            <div class="row input-row destination py-2 px-0 my-3 details-row" id="dest">
                                <div class="col-12">
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <label class="sr-only" for="addr-dest">Address</label>
                                            <input type="text" class="form-control my-2 mr-sm-0 addr-field" id="addr-dest" name="addr-dest" placeholder="Address" required>
                                            <input type="text" class="d-none coords-field" id="coords-dest" name="coords-dest">    
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="row">
                                                <div class="col-md-auto form-inline">
                                                    <label class="mr-2 mb-0" for="start-dest">Arrival date</label>
                                                    <input type="date" class="form-control my-2 mr-sm-0 start-field" id="start-dest" name="start-dest" placeholder="Pick-up date" required>    
                                                </div>
                                                <div class="col-md-auto form-inline">
                                                    <label class="mr-2 mb-0" for="end-dest">Departure date</label>
                                                    <input type="date" class="form-control my-2 mr-sm-0 end-field" id="end-dest" name="end-dest" placeholder="Drop-off date" required>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="people" class="details-section">
                            <h3>People</h3>
                            <div class="row input-row person py-2 px-0 my-3 details-row" id="person-1">
                                <div class="col-11">
                                    <div class="form-row">
                                        <div class="col-md-auto">
                                            <label class="sr-only" for="name-1">Name</label>
                                            <input type="text" class="form-control my-2 mr-sm-0 name-field" id="name-1" name="name-1" placeholder="Name" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="sr-only" for="addr-1">Address</label>
                                            <input type="text" class="form-control my-2 mr-sm-0 addr-field" id="addr-1" name="addr-1" placeholder="Address" required>
                                            <input type="text" class="d-none coords-field" id="coords-1" name="coords-1">    
                                        </div>
                                        <div class="col-md-auto form-inline ml-2">
                                                <input class="form-check-input hasCar" type="checkbox" id="hasCar-1" name="hasCar-1">
                                                <label class="form-check-label hasCar" for="hasCar-1">Has car</label>
                                            </div>
                                        <div class="col-md-auto form-inline">
                                            <input type="number" min="0" max="50" class="form-control mr-2" id="passengers-1" name="passengers-1" placeholder="0" disabled>
                                            <label class="" for="passengers-1">passenger seats available</label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-auto form-inline">
                                            <label class="mr-2 mb-0" for="start-1">Arriving</label>
                                            <input type="date" class="form-control my-2 mr-sm-0 start-field" id="start-1" name="start-1" placeholder="Pick-up date" required>    
                                        </div>
                                        <div class="col-md-auto form-inline">
                                            <label class="mr-2 mb-0" for="end-1">Leaving</label>
                                            <input type="date" class="form-control my-2 mr-sm-0 end-field" id="end-1" name="end-1" placeholder="Drop-off date" required>    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 d-flex">
                                    <button type="button" class="btn d-flex align-self-center delete">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row" id="addPersonRow">
                                <button type="button" id="addPerson" class="btn btn-success my-4 mx-auto">
                                    <i class="fas fa-plus"></i>  Add person
                                </button>
                            </div>
                        </div>
                        <!-- <div id="constraints">
                            <h3>Constraints</h3>
                            <div class="row">
                                <button type="button" id="addConstraint" class="btn btn-success my-4 mx-auto">
                                    <i class="fas fa-plus"></i>  Add constraint
                                </button>
                            </div>
                        </div> -->
                        <div class="row">
                            <button type="submit" id="submit" class="btn btn-lg btn-success my-3 mx-auto">
                                <i class="fas fa-car-side"></i>  Calculate
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="map" class="col-lg-5 vh-100"></div>
        </div>
    </div>    
{% endblock %}